!!!5
html
  head
    title CoOPS Server
    link(rel='stylesheet', href='/setup-style.css')
  body
    div(class="container")
      div(class="content")
        img(src="/gfx/logo.png",class="view-image") 
        h2 
          |Welcome
        p(class="info-text")
          | coops-server-node is running
        p
          |Please use client to connect to this server instead of using web browser directly.
    div(class="footer")
      div(class="footer-left")
        a(href="https://github.com/foyt/coops-server-node")
          |https://github.com/foyt/coops-server-node