extend setup-layout
block header
block content
  img(src="/gfx/setup-clients.png",class="view-image") 
  h2 
    | Add a Client
  p(class="info-text")
    | Edit oAuth client
  div(class="view-tools")
    a(class="view-tool",href="/setup/clients")
      |List clients
  form(action="/setup/edit-client",method="post")
    div
      label
        |Name
      input(name="name",type="text",value="#{oAuthClient.name}")
    div
      label
        |ClientId
      input(name="clientId",type="text",readonly="readonly",value="#{oAuthClient.clientId}")
    div
      label
        |ClientSecret
      input(name="clientSecret",type="text",readonly="readonly",value="#{oAuthClient.clientSecret}")
    input(type="submit", value="Save")
    input(name="id",type="hidden",value="#{oAuthClient.id}")
block footer
  div(class="footer-left")
    a(href="https://github.com/anttileppa/coops-server-node")
      | https://github.com/anttileppa/coops-server-node