!!!5
html
  head
    title CoOps Server Setup
    link(rel='stylesheet', href='/setup-style.css')
  body
    .header 
      block header
    .container
      .content
        block content
    .footer
      block footer